<%= form_with model: [:admin, @dish], local: true do |f| %>

<% if @dish && @dish.errors.any? %>
<div class="errors">
	Total errors: <%= @dish.errors.count %>
	<ul>
		<% @dish.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div>
	<%= f.label :picture %><br />
	<%= f.file_field :picture %>
</div>

<div>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>

<div>
	<%= f.label :description %><br />
	<%= f.text_area :description %>
</div>

<div>
	<%= f.label :price %><br />
	<%= f.text_field :price %>
</div>

<div>
	<%= f.submit %>
</div>
<% end %>