<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ">
        <a><%= link_to 'Enterprises', enterprises_path, class: "nav-link btn btn-primary ml-2" %> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a><%= link_to 'Dishes', dishes_path, class: "nav-link btn btn-primary ml-2" %></a>
      </li>  
      <li class="nav-item ">
        <a> <%= link_to 'Users', users_path, class: "nav-link btn btn-primary ml-2" %> </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a> <%= link_to 'Sign up', new_user_registration_path , class: 'nav-link btn btn-primary ml-2' %> </a>
      <a> <%= link_to 'Log in', new_user_session_path , class: 'nav-link btn btn-primary ml-2' %> </a>
      <a> <%= link_to 'Log out', destroy_user_session_path , class: 'nav-link btn btn-primary ml-2' %> </a>
  </form>
</div>
</nav>

<div class="row">
  <div class="col-md-12">
    <h1>Dishes <%= link_to 'New Dish', new_dish_path, class: 'btn btn-success' %></h1>
  </div>
</div>

<hr>

<table class="table table-striped">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  <% @dishes.each do |dish| %>
      <tr>
        <td>
          <% if dish.picture.attached? %>
            <%= image_tag dish.picture, size: 100 %>
          <% end %>
        </td>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td><%= dish.price %></td>
        <td>
          <%= link_to 'View', dish_path(dish) %>
          <%= link_to 'Edit', edit_dish_path(dish) %>
          <%= link_to 'Delete', dish_path(dish),
                      method: :delete,
                      data: {confirm: 'Do you want to remove this product?'} %>
        </td>
      </tr>
  <% end %>

</table>