<%= form_with model: [:admin, @enterprise], local: true do |f| %>

<% if @enterprise && @enterprise.errors.any? %>
<div class="errors">
	Total errors: <%= @enterprise.errors.count %>
	<ul>
		<% @enterprise.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div>
	<%= f.label :picture %><br />
	<%= f.file_field :picture %>
</div>

<div>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>

<div>
	<%= f.label :description %><br />
	<%= f.text_area :description %>
</div>

<div>
	<%= f.label :dish %><br />
	<%= f.collection_select :dish_id, Dish.all, :id, :name %>
</div>

<div>
	<%= f.submit %>
</div>
<% end %>