<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ">
        <a><%= link_to 'Enterprises', enterprises_path, class: "nav-link btn btn-primary ml-2" %> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a><%= link_to 'Dishes', dishes_path, class: "nav-link btn btn-primary ml-2" %></a>
      </li>  
      <li class="nav-item ">
        <a> <%= link_to 'Users', users_path, class: "nav-link btn btn-primary ml-2" %> </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <% if current_user%>
      <p class="text-monospace ml-2 text-center "> Hello, <%= current_user.name %> </p>
      <% end %>
      <a> <%= link_to 'Sign up', new_user_registration_path , class: 'nav-link btn btn-primary ml-2' %> </a>
      <a> <%= link_to 'Log in', new_user_session_path , class: 'nav-link btn btn-primary ml-2' %> </a>
      <a> <%= link_to 'Log out', destroy_user_session_path , class: 'nav-link btn btn-primary ml-2', method: :delete %> </a>
    </form>
  </div>
</nav>

<table class="table table-striped">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Dishes</th>
    <th>Actions</th>
  </tr>

  <% @enterprises.each do |enterprise| %>
  <tr>
    <td>
      <% if enterprise.picture.attached? %>
      <%= image_tag enterprise.picture, size: 100 %>
      <% end %>
    </td>
    <td><%= enterprise.name %></td>
    <td><%= enterprise.description %></td>
    <td><%= enterprise.dishes.name %></td>
    <td>
      <%= link_to 'View', enterprise_path(enterprise) %>
      <%= link_to 'Edit', edit_enterprise_path(enterprise) %>
      <%= link_to 'Delete', enterprise_path(enterprise),
      method: :delete,
      data: {confirm: 'Do you want to remove this product?'}, class: "btn btn-primary" %>
    </td>
  </tr>
  <% end %>

</table>